php_flag display_errors off 
php_flag display_startup_errors off

AddDefaultCharset UTF-8 
Options -Indexes 
RewriteEngine on 
RewriteCond	%{REQUEST_URI}	!core/*
RewriteCond	%{REQUEST_URI}	!view/*
RewriteCond	%{REQUEST_URI}	!img/*
RewriteCond	%{REQUEST_URI}	!style/
RewriteCond	%{REQUEST_URI}	!robots.txt
RewriteCond	%{REQUEST_URI}	!humans.txt
RewriteCond	%{REQUEST_URI}	!sitemap.xml
RewriteCond	%{REQUEST_URI}	!favicon.*
RewriteCond	%{REQUEST_URI}	!index.php
RewriteRule	^(.*)$	index.php?q=$1 [QSA]